body{
    background: radial-gradient(#f8f6f8,rgb(224, 224, 231),#eae9ec);

}
.card {
    width: 0rem;

}
.h1{
    text-align: center;
}
.container-fluid .d-flex .justify-content-center .h1{
    text-align: center;  
}

.card:hover {
    box-shadow: 15px 20px 30px 10px rgba(17, 16, 16, 0.253) !important;

}
.card-title{
    padding: 0px;
    /* margin: 10%; */
}
.card-body{
    padding: 6rem 0 !important;

}
.btn .btn-primary{
    width: 100%;
}
.btn .btn-outline-success{
    padding: 70px;
    
}
.btn .btn-lg .btn-primary{
    padding: 30rem;
    margin: 20px;
}
.card-text{
    font-size: 5rem;
    padding: 0.5rem 1.6rem;
}
.container-fluid .row{
padding-top: 5rem;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.4);
}
.button {
    flex-direction: 'row'; 
    
   
 
}